<div>
  <div>
    <h1>
      Student to ethnicity #<%= @the_student_to_ethnicity.id %> details
    </h1>

    <div>
      <div>
        <a href="/student_to_ethnicities">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_student_to_ethnicity/<%= @the_student_to_ethnicity.id %>">
          Delete student to ethnicity
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Student
      </dt>
      <dd>
        <%= @the_student_to_ethnicity.student_id %>
      </dd>

      <dt>
        Ethnicity
      </dt>
      <dd>
        <%= @the_student_to_ethnicity.ethnicity_id %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_student_to_ethnicity.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_student_to_ethnicity.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit student to ethnicity
    </h2>

    <form action="/modify_student_to_ethnicity/<%= @the_student_to_ethnicity.id %>"  method="post" >
      <div>
        <label for="student_id_box">
          Student
        </label>

        <input type="text" id="student_id_box" name="query_student_id" value="<%= @the_student_to_ethnicity.student_id %>">
      </div>

      <div>
        <label for="ethnicity_id_box">
          Ethnicity
        </label>

        <input type="text" id="ethnicity_id_box" name="query_ethnicity_id" value="<%= @the_student_to_ethnicity.ethnicity_id %>">
      </div>

      <button>
        Update student to ethnicity
      </button>
    </form>
  </div>
</div>

<hr>
