<h1>Hi, there you college student... WELCOME TO SPONSU</h1>

<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "my-custom-class" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :gender %><br />
    <input list="genders" placeholder="Start typing...">
    <datalist id="genders">
      <option>Male</option>
      <option>Female</option>
      <option>Other</option>
    </datalist>
  </div>

  <div class="field">
    <%= f.label :university %><br />
    <input list="universities" placeholder="Start typing...">
    <datalist id="universities">
      <% universities = {
        'Princeton University': 1,
        'Harvard University': 2,
        'University of Chicago': 3,
        'Yale University': 4,
        'Columbia University': 5,
        'Stanford University': 6,
        'Massachusetts Institute of Technology': 7,
        'Duke University': 8,
        'University of Pennsylvania': 9,
        'Johns Hopkins University': 10,
        'Dartmouth College': 11,
        'California Institute of Technology': 12,
        'Northwestern University': 13,
        'Brown University': 14,
        'Cornell University': 15,
        'Rice University': 16,
        'University of Notre Dame': 17,
        'Vanderbilt University': 18,
        'Washington University in St. Louis': 19
      } %>
      <% universities.keys.each do |university| %>
        <option><%= university %></option>
      <% end %>
    </datalist>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %> 
  </div>

<% end %>

<%= render "devise/shared/links" %>
