<!DOCTYPE html>
<html>
  <head>
    <title>Rails Template</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "company_employee_dashbaord", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  
<!--NAV BAR BELOW-->
  <body>
    <nav>
      <%if !student_signed_in?%>
        <a href="/">Home</a>
      <%else%>
        <%= link_to "Dashboard", student_dashboard_path(current_student) %>
        <%= link_to "My Profile", my_profile_path(current_student) %>
        
        <a href="/students/sign_out">Sign Out</a>
      <%end%>
    </nav>
    <%= yield %>
  </body>
</html>
